<div class="banner parent">
    <div class="div1">
        <span class="name">Hi, Alfonso here.</span><br>
        <span class="role">Front-end Developer</span><br>
        <div class="social">
            <button (click)="goRoute('git')"><img src="github.png" alt="GitHub"></button>
            <button (click)="goRoute('pen')"><img style="filter: contrast(0);" src="codepen.webp"
                    alt="CodePen"></button>
            <button (click)="goRoute('lin')"><img src="linkedin.png" alt="Linkedln"></button>
        </div>
    </div>
    <div class="div3">
        <div id="coffee-canvas"></div>
    </div>
</div>