section {
  display: grid;
  place-items: center;
}

.intro-text {
  font-size: 29px;
  color: #ffffff;
  font-weight: 400;
  opacity: 0;
  visibility: hidden;
  animation: appear 1s ease-in-out forwards;
}

.intro-div {
  width: 100%;
  place-items: center;
  animation: disappear 2s ease-in-out forwards;
}

.gradient {
  display: inline-block;
  background-image: linear-gradient(45deg, #fd4059, #9966ff);
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
}

@keyframes appear {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
