<div class="finder parent">

  <div class="component-search div1" *ngIf="!searchResult">
    <app-projects></app-projects>
  </div>

  <div class="component-search div1" *ngIf="searchResult">
    <ng-container *ngComponentOutlet="searchResult"></ng-container>
  </div>

  <div class="finder-wrapper-buttons div2">
    <button [class.active]="activeButton === 'button1'" (click)="onButtonSearch('projects', 'button1')"
      class="hub-button">Projects</button>
    <button [class.active]="activeButton === 'button2'" (click)="onButtonSearch('stack', 'button2')"
      class="hub-button">Stack</button>
    <button [class.active]="activeButton === 'button3'" (click)="onButtonSearch('about me', 'button3')"
      class="hub-button">aboutme</button>
    <button [class.active]="activeButton === 'button4'" (click)="onButtonSearch('contact', 'button4')"
      class="hub-button">Contact</button>
  </div>
  
</div>