<div *ngIf="show" class="contact-section">
    <div class="div1">
        <form class="block" #contactForm="ngForm" (submit)="sendForm($event)" novalidate>
            <h1>Send this form</h1>
            <div class="row">
                <div class="col-25">
                    <label for="fname">Name</label>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="firstname" placeholder="Your name.."
                        [(ngModel)]="formData.firstname" #fname="ngModel" required>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="mail">Email</label>
                </div>
                <div class="col-75">
                    <input type="email" id="mail" name="email" placeholder="Your email.." [(ngModel)]="formData.email"
                        #mail="ngModel" required email>
                </div>
            </div>
            <div class="row">
                <div class="col-25">
                    <label for="subject">Subject</label>
                </div>
                <div class="col-75">
                    <textarea id="subject" name="subject" placeholder="Write something.." [(ngModel)]="formData.subject"
                        #subject="ngModel" required style="height:200px"></textarea>
                </div>
            </div>
            <div *ngIf="!sent" class="row row-button">
                <button [disabled]="contactForm.invalid" type="submit">Send</button>
            </div>
            <div *ngIf="sent" class="row row-button sent">
                <button type="button">Sent</button>
            </div>
        </form>
    </div>
    <div class="div2">OR</div>
    <div class="div3">
        <div class="block">
            <h1>Push to talk</h1>
            <div (click)="sendEmail(
                'alfonsomlwork@gmail.com',
                'Helloooooo',
                'Gonna pay you one million dollars for your work'
              )" class="talk-button">
                <span class="ready">Ready?</span>
                <span class="go">GO</span>
            </div>
            <span class="mailto">alfonsomlwork&#64;gmail.com</span>
        </div>
    </div>
</div>