<div *ngIf="show" class="cards-container" #cardsContainer>
    <div class="card">
        <h1>High level</h1>
        <div class="skills">
            <p><img class="ico" src="ico/ts.png" alt="">TypeScript</p>
            <p><img class="ico" src="ico/angular.png" alt="">Angular</p>
            <p><img class="ico" src="ico/html.png" alt="">HTML</p>
            <p><img class="ico" src="ico/sass.png" alt="">SASS</p>
            <p><img class="ico" src="ico/css.png" alt="">CSS</p>
            <p><img class="ico" src="ico/bootstrap.png" alt="">Bootstrap</p>
            <p><img class="ico" src="ico/github.png" alt="">GitFlow</p>
            <p><img class="ico" src="ico/jenkins.png" alt="">Jenkins</p>
            <p><img class="ico" src="ico/jira.png" alt="">Jira</p>
            <p><img class="ico contrast" src="ico/sonarqube.svg" alt="">SonarQube</p>
            <p><img class="ico" src="ico/postman.png" alt="">Postman</p>
            <p><img class="ico" src="ico/confluence.png" alt="">Confluence</p>
            <p><img class="ico" src="ico/agile.png" alt="">Agile</p>
        </div>
    </div>
    <div class="card">
        <h1>Mid level</h1>
        <div class="skills">
            <p><img class="ico" src="ico/javascript.png" alt="">JavaScript</p>
            <p><img class="ico" src="ico/jquery.png" alt="">JQuery</p>
            <p><img class="ico" src="ico/java.png" alt="">Java</p>
            <p><img class="ico" src="ico/sql.png" alt="">SQL</p>
            <p><img class="ico" src="ico/xml.png" alt="">XML</p>
            <p><img class="ico" src="ico/jsp.png" alt="">JSP</p>
            <p><img class="ico contrast" src="ico/svn.png" alt="">Subversion</p>
            <p><img class="ico contrast" src="ico/redmine.png" alt="">Redmine</p>
            <p><img class="ico" src="ico/kibana.png" alt="">Kibana</p>
            <p><img class="ico" src="ico/clarive.webp" alt="">Clarive</p>
        </div>
    </div>
    <div class="card">
        <h1>Low level</h1>
        <div class="skills">
            <p><img class="ico" src="ico/php.png" alt="">PHP</p>
            <p><img class="ico contrast" src="ico/csharp.png" alt="">C Sharp</p>
            <p><img class="ico" src="ico/sap.png" alt="">SAP UI5</p>
            <p><img class="ico" src="ico/threejs.png" alt="">Three.js</p>
            <p><img class="ico" src="ico/figma.svg" alt="">Figma</p>
            <p><img class="ico" src="ico/docker.png" alt="">Docker</p>
        </div>
    </div>
    <div class="card">
        <h1>Other skills</h1>
        <div class="skills">
            <p><img class="ico" src="ico/photoshop.png" alt="">Photoshop</p>
            <p><img class="ico" src="ico/illustrator.png" alt="">Illustrator</p>
            <p><img class="ico" src="ico/lightroom.png" alt="">Lightroom</p>
            <p><img class="ico" src="ico/premiere.png" alt="">Premiere CC</p>
            <p><img class="ico" src="ico/spain.png" alt="">Spanish (Native)</p>
            <p><img class="ico" src="ico/english.png" alt="">English (C1)</p>
        </div>
    </div>
</div>